<div class="wrapper">
  <div class="main">
    <div class="section">
      <div class="container">
        <h3 class="title">Writing your interest</h3>
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
          <div>
            <div class="form-group">
              <label class="form-control-label" for="field_summary">Summary</label>
              <input type="text" class="form-control" placeholder="summary about what you are looking for" name="summary" id="field_summary" formControlName="summary"/>
              <div
                      *ngIf="editForm.get('summary')!.invalid && (editForm.get('summary')!.dirty || editForm.get('summary')!.touched)">
                <small class="form-text text-danger" *ngIf="editForm.get('summary')?.errors?.required">
                  This field is required.
                </small>
              </div>
            </div>
            <div class="form-group">
              <label class="form-control-label" for="field_description">Description</label>
              <textarea rows="25" class="form-control" name="description" id="field_description" formControlName="description"> </textarea>
              <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
                <small class="form-text text-danger" *ngIf="editForm.get('description')?.errors?.required">
                  This field is required.
                </small>
              </div>
            </div>
          </div>

          <div>
            <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
              &nbsp;<span>Cancel</span>
            </button>
            <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                    class="btn btn-primary">
              &nbsp;<span>Save</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
