<div class="section section-basic">
    <div class="container">
      <h3 class="title">Simple Connect</h3>
        <h3 class="title">Let us help</h3>
      <div id="inputs">
          <h4>What are you looking for ?</h4>
          <div class="row">
              <div class="col-sm-7 col-lg-7">
                  <div class="form-group">
                      <input type="text" placeholder="job food car expert " class="form-control" />
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
